html {
	font-size: 62.5%;
	@include mq(lg) {
		font-size: 66%;
	}
}

* {
	margin: 0;
	box-sizing: border-box;
}

a,
a:focus,
a:hover {
	text-decoration: none;
	color: var(--text-color);
}

ul {
	list-style: none;
	padding: 0;
}
