.text-fancy {
	font-family: 'Averia Libre', cursive;
	color: var(--text-color-dark);
	font-size: 3rem;
	@include mq(md) {
		font-size: 3.5rem;
	}
}

.btn {
	cursor: pointer;
	border: none;
	color: white;
	border-radius: 0.8rem;
	padding: 1rem 1.8rem;
	background: var(--primary-color);
	font-weight: bold;
	&:hover {
		background: var(--primary-color-dark);
	}
}
